/* = КО ВСЕМУ ДОКУМЕНТУ ==================================== */
/* - Позиционирование -------------------------------------- */
html,
body {
    height: 100%;
}

.wrapper {
    /*общий контейнер для того, чтобы задать структуру страницы и для того, чтобы футер был прибит к низу страницы, даже если содержания совсем мало*/
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(80px, auto) 1fr minmax(120px, auto);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* - Типографика ------------------------------------------- */
html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: left;
    color: #434242;
}

/*H2*/
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
}

.title_underline {
    text-decoration: underline;
}

/*H3*/
.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

/*просто текст во всех параграфах*/
.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: left;
    color: #282322;
}

.color_white {
    color: #FFFFFF;
}

/* - Оформление: ссылки, кнопки ---------------------------- */
.button {
    display: inline-flex;
    align-items: center;
    background: #282322;
}

.button a {
    padding: 13px 42px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

/* .button:hover {} */

/* = HEADER ================================================ */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". header__content .";
    background-color: #3a2d34;
}

.header__content {
    grid-area: header__content;
}

/* = MAIN ================================================ */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro"
        "about"
        "services"
        "gallery"
        "projects"
        "certificates"
        "feedback"
        "faq"
        "contacts";
}


.intro,
.about,
.services,
.gallery,
.projects,
.certificates,
.feedback,
.faq,
.contacts {
    margin-bottom: 180px;
}

@media screen and (max-width: 1024px) {

    .intro,
    .about,
    .services,
    .gallery,
    .projects,
    .certificates,
    .feedback,
    .faq,
    .contacts {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 768px) {

    .intro,
    .about,
    .services,
    .gallery,
    .projects,
    .certificates,
    .feedback,
    .faq,
    .contacts {
        margin-bottom: 60px;
    }
}

/* = INTRO ================================================ */
.intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". intro__content .";
    background-color: #EAD1D0;
}

.intro__content {
    grid-area: intro__content;
}

@media screen and (max-width: 1024px) {
    .intro {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .intro {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = ABOUT ================================================ */
.about {
    grid-area: about;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". about__content .";
}

.about__content {
    grid-area: about__content;
    display: grid;
    grid-template-columns: minmax(auto, 67%) minmax(auto, 33%);
    grid-template-areas:
        "about-text__container about-photo__container";
    background-color: #EAD1D0;
}

.about-text__container {
    grid-area: about-text__container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
}

/* .about__button {
    width: 30%;
} */

.about-photo__container {
    grid-area: about-photo__container;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo {
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid #282322;
    padding: 3%;
}

@media screen and (max-width: 1024px) {
    .about {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = SERVICES ================================================ */
.services {
    grid-area: services;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". services__content .";
}

.services__content {
    grid-area: services__content;
    background-color: #EAD1D0;
    display: flex;
    flex-direction: column;
}


.services__block {
    display: flex;
    justify-content: center;
}

.services__column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    max-width: 430px;
}

.services__title {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-right: 20px;
}

.services__item {
    display: flex;
    /* border: 1px solid red; */
    height: 150px;
    /* margin-left: 30px; */
    align-self: center;
    min-width: 430px;
}

.services__item__text {
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .services {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .services {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = GALLERY ================================================ */
.gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". gallery__content .";
}

.gallery__content {
    grid-area: gallery__content;
    background-color: #EAD1D0;
}

@media screen and (max-width: 1024px) {
    .gallery {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = PROJECTS ================================================ */
.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". projects__content .";
}

.projects__content {
    grid-area: projects__content;
    background-color: #EAD1D0;
    display: flex;
    flex-direction: row;
    position: relative;
}

.projects__content .projects__content_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 350px;
}

.projects__content .projects__content_left .projects__list {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.projects__content .projects__content_left .projects__list .project__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.projects__content .projects__content_left .projects__list .project__item .project__link {
    display: block;
    text-decoration: none;
    color: #282322;
    transition: all .3s ease;
    /*прочти, что за свойство*/
}

.projects__content .projects__content_left .projects__list .project__item:hover .project__link {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.projects__content .projects__content_left .projects__list .project__item+.project__image,
.projects__content .projects__content_left .projects__list .project__image:first-child {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    right: 10px;
    width: calc(50% - 20px);
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    opacity: 0;
    transition: all .3s ease;
}

.projects__content .projects__content_left .projects__list .project__item+.project__image {
    z-index: 2;
}

.projects__content .projects__content_left .projects__list .project__image:first-child {
    z-index: 1;
    opacity: 1;
}

.projects__content .projects__content_left .projects__list:hover .project__image:first-child {
    opacity: 0;
}

.projects__content .projects__content_left .projects__list .project__item:hover+.project__image {
    opacity: 1;
}

.projects__content .projects__content_right {
    display: block;
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .projects {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .projects {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = CERTIFICATES ================================================ */
.certificates {
    grid-area: certificates;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". certificates__content .";
}

.certificates__content {
    grid-area: certificates__content;
    background-color: #EAD1D0;
}

@media screen and (max-width: 1024px) {
    .certificates {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .certificates {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = FEEDBACK ================================================ */
.feedback {
    grid-area: feedback;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". feedback__content .";
}

.feedback__content {
    grid-area: feedback__content;
    background-color: #EAD1D0;
}

@media screen and (max-width: 1024px) {
    .feedback {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .feedback {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = FAQ ================================================ */
.faq {
    grid-area: faq;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". faq__content .";
}

.faq__content {
    grid-area: faq__content;
    background-color: #EAD1D0;
}

@media screen and (max-width: 1024px) {
    .faq {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .faq {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = CONTACTS ================================================ */
.contacts {
    grid-area: contacts;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". contacts__content .";
}

.contacts__content {
    grid-area: contacts__content;
    display: grid;
    grid-template-columns: minmax(auto, 90%) minmax(auto, 10%);
    grid-template-areas:
        "connection__container social__container";
    background-color: #EAD1D0;
    border: 1px solid #282322;
}

.connection__container {
    grid-area: connection__container;
    box-sizing: border-box;
    padding: 2% 5%;
}

.contacts__text {
    width: 50%;
}

.contact-form__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-input {
    box-sizing: border-box;
    padding: 13px 50px 13px 13px;
    width: 50%;
}

.contacts__button {
    width: 35%;
    display: flex;
    justify-content: center;
}

.social__container {
    grid-area: social__container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .contacts {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = FOOTER ================================================ */
.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". footer__content .";
    background-color: #3a2d34;
}

.footer__content {
    grid-area: footer__content;
}

@media screen and (max-width: 1024px) {
    .footer {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}