/* = КО ВСЕМУ ДОКУМЕНТУ ==================================== */
/* - Позиционирование -------------------------------------- */
html,
body {
    height: 100%;
}

.wrapper {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(80px, auto) 1fr minmax(120px, auto);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* - Типографика ------------------------------------------- */
html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: left;
    color: #434242;
}

/*H2*/
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    color: #8b7e7c;
}

/*H3*/
.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #857776;
    text-transform: uppercase;
}

/*просто текст во всех параграфах*/
.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: left;
    color: #7c6c6b;
}

/* - Оформление: ссылки, кнопки ---------------------------- */
.button {
    display: inline-flex;
    align-items: center;
    background: #baa8a6;
}

.button_transparent {
    background: none;
    border: solid 1px #FFFFFF;
}

.button a {
    padding: 13px 42px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    background: linear-gradient(#dac5c3, #837776);
}

.button:active {
    background: linear-gradient(#9e908e, #9e908e) rgb(76, 77, 82);
}

/* = HEADER ================================================ */
/* - Позиционирование -------------------------------------- */
.header {
    grid-area: header;
    display: grid;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    grid-template-columns: minmax(70px, 1fr) minmax(auto, 1200px) minmax(70px, 1fr);
    grid-template-areas:
        ". header__content .";
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header__content {
    grid-area: header__content;
    display: grid;
    min-height: 80px;
    align-items: center;
    grid-template-columns: minmax(auto, 170px) minmax(auto, 880px) minmax(auto, 150px);
    grid-template-areas:
        "header__menu header__menu header__social";
}

.header__logo {
    display: none
}

.header__burger {
    display: none;
}

.header__menu {
    grid-area: header__menu;
    justify-self: left;
    margin-top: 8px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    position: relative;
    padding-inline-start: 0px;
    z-index: 3;
}

.menu__list li:not(:last-of-type) {
    margin-right: 50px;
}

.menu__list li:hover {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

.header__social {
    grid-area: header__social;
    display: flex;
    z-index: 3;
    padding-right: 70px;
}

.social__img:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.icon {
    display: block;
    object-fit: cover;
}

/* - Типографика ------------------------------------------- */
.menu__link {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.header__logo a {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 1023px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        height: 60px;
    }

    .header.active {
        position: fixed;
    }

    .header__content {
        grid-area: header__content;
        display: grid;
        min-height: 60px;
        width: 100%;
        align-items: center;
        grid-template-columns: 60px minmax(auto, 773px) minmax(60px, 170px);
        grid-template-areas:
            "header__burger header__logo header__social";
    }

    .header.active .header__content {
        grid-area: header__content;
        display: grid;
        width: 100%;
        align-items: center;
        grid-template-columns: minmax(auto, 170px) minmax(auto, 823px);
        grid-template-areas: "header__burger header__logo";
    }

    .header__burger {
        grid-area: header__burger;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        justify-self: left;
        cursor: pointer;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color: #282322;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: #282322;
    }

    .header__burger span {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        transition: all 0.3s ease 0s;
        overflow: auto;
        background: #FFFFFF;
        background-attachment: local;
    }

    .header__menu.active {
        top: 0;
    }

    .menu__list {
        display: block;
        padding-top: 110px;
    }

    .menu__list li {
        margin: 0px 0px 50px 0px;
    }

    .menu__list li:not(:last-of-type) {
        margin-right: 0px;
    }

    .menu__link {
        color: #282322;
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
        text-align: center;
    }

    .header__social {
        justify-self: right;
        padding-right: 0px;
    }

    .header__social.active {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header {
        grid-area: header;
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 747px) minmax(1rem, 1fr);
        grid-template-areas: ". header__content .";
    }

    .header__content {
        grid-area: header__content;
        grid-template-columns: minmax(auto, 50px) minmax(auto, 527px) minmax(auto, 170px);
        grid-template-areas: "header__burger header__logo header__social";
        padding-top: 15px;
    }

    .header__social {
        grid-area: header__social;
        justify-self: right;
    }

    .social__img {
        padding-left: 20px;
    }

    .header__logo {
        display: grid;
        justify-self: left;
        grid-area: header__logo;
        align-self: center;
        z-index: 3;
    }

    .header__burger {
        grid-area: header__burger;
        justify-self: left;
    }

    .social__img {
        max-width: 40px;
    }

    .header__logo a {
        font-family: 'Pacifico', cursive;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 500px) {
    .header__content {
        grid-area: header__content;
        grid-template-columns: minmax(auto, 170px) 1fr minmax(auto, 170px);
        grid-template-areas: "header__burger header__logo header__social";
    }

    .header__content {
        padding-top: 15px;
    }

    .header__social {
        grid-area: header__social;
        justify-self: right;
    }

    .header__logo {
        justify-self: center;
    }

    .header__burger {
        grid-area: header__burger;
        justify-self: left;
    }

    .header__burger {
        margin-right: 20px;
    }
}

/* = MAIN ================================================ */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro"
        "about"
        "services"
        "gallery"
        "projects"
        "certificates"
        "feedback"
        "faq"
        "contacts";
}

.intro,
.about,
.services,
.gallery,
.projects,
.certificates,
.feedback,
.faq,
.contacts {
    margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {

    .intro,
    .about,
    .services,
    .gallery,
    .projects,
    .certificates,
    .feedback,
    .faq,
    .contacts {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {

    .intro,
    .about,
    .services,
    .gallery,
    .projects,
    .certificates,
    .feedback,
    .faq,
    .contacts {
        margin-bottom: 60px;
    }
}

/* = INTRO ================================================ */
/* - Позиционирование -------------------------------------- */
.intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". intro__content .";
    background: url("/assets/images/block_intro/sansbg.png") 100% 80px/contain no-repeat, #baa8a6;
    min-height: 100vh;
    margin-top: -80px;
    outline: 1px solid #FFFFFF;
    outline-offset: -70px;
}

.intro__content {
    grid-area: intro__content;
    display: grid;
    min-height: 100vh;
    grid-template-columns: minmax(auto, 100px) minmax(auto, 1000px) minmax(auto, 100px);
    grid-template-areas:
        ". intro__teaser .";
}

.intro__teaser {
    grid-area: intro__teaser;
    align-self: center;
    text-align: left;
    padding-right: 300px;
    padding-top: 30%;
    padding-bottom: 100px;
    justify-self: left;
}

.intro__title {
    margin: 0px 0px 5vh 0px;
}

.intro__title_alternative {
    display: none;
}

.intro__text {
    margin: 0px 50px 10vh 0px;
}

.intro__button {
    display: inline-flex;
}

/* - Типографика ------------------------------------------- */
.intro__title::first-line {
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    text-decoration: none;
    color: #FFFFFF;
}

.intro__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 180%;
    text-align: left;
    color: #FFFFFF;
}

.intro__text {
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    color: #FFFFFF;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 1024px) and (orientation:portrait) {
    .intro {
        grid-area: intro;
        display: grid;
        grid-template-areas:
            "intro__content intro__content intro__content";
    }

    .intro__content {
        grid-area: intro__content;
        display: grid;
        grid-template-columns: minmax(auto, 100px) minmax(auto, 804px) minmax(auto, 100px);
        grid-template-areas:
            ". intro__teaser .";
        background-color: rgba(0, 0, 0, 0.2);
    }

    .intro__teaser {
        padding-top: 60%;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
        outline: 1px solid #FFFFFF;
        outline-offset: -60px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
        outline: none;
        min-height: 100vh;
    }

    .intro__content {
        grid-area: intro__content;
        display: grid;
        grid-template-columns: minmax(auto, 20px) minmax(auto, 728px) minmax(auto, 20px);
        grid-template-areas:
            ". intro__teaser .";
    }

    .intro__teaser {
        padding-top: 60%;
        padding-bottom: 50px;
    }

    .intro__title {
        display: none;
    }

    .intro__title_alternative {
        display: flex;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 500px) {
    .intro {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
        outline: none;
        min-height: 100vh;
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 480px) minmax(1rem, 1fr);
        grid-template-areas:
            "intro__content intro__content intro__content";
    }

    .intro__content {
        grid-area: intro__content;
        display: grid;
        grid-template-columns: minmax(auto, 20px) minmax(auto, 440px) minmax(auto, 20px);
        grid-template-areas:
            ". intro__teaser .";
        background-color: rgba(0, 0, 0, 0.2);
    }

    .intro__teaser {
        grid-area: intro__teaser;
        align-self: center;
        text-align: left;
        padding-right: 0px;
    }
}

/* = ABOUT ================================================ */
.about {
    grid-area: about;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". about__content .";
}

.about__content {
    grid-area: about__content;
    display: grid;
    grid-template-columns: minmax(auto, 100px) minmax(auto, 330px) minmax(auto, 670px) minmax(auto, 100px);
    grid-template-areas:
        ". about-photo__container about-text__container .";
    /* background-color: #fae8c757; */
}

.about__title {
    display: flex;
    justify-content: center;

}

.about-text__container {
    grid-area: about-text__container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.about-text {
    display: flex;
    align-self: center;
}

.icon-about {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-right: 20px;
}

/* .about__button {
    width: 30%;
} */

.about-photo__container {
    grid-area: about-photo__container;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo {
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid #282322;
    padding: 3%;
}

@media screen and (max-width: 1024px) {
    .about {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }

    .about__content {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 33%) minmax(auto, 67%) minmax(1rem, 1fr);
        /* grid-template-columns: minmax(auto, 50px) minmax(auto, 247px) minmax(auto, 501px) minmax(auto, 50px); */
    }
}

@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }

    .about-photo__container {
        display: none;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 90%;
    }

    .about-text__container {
        grid-area: about-text__container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }
}

/* = SERVICES ================================================ */
.services {
    grid-area: services;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". services__content .";
    /* background-color: #fae8c757; */
}

.services__content {
    grid-area: services__content;
    display: flex;
    flex-direction: column;
    background-color: #baa8a61f;
}


.services__block {
    display: flex;
    justify-content: center;
}

.services__column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    max-width: 430px;
}

.services__title {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-right: 20px;
}

.services__item {
    display: flex;
    height: 150px;
    /* margin-left: 30px; */
    align-self: center;
    min-width: 430px;
}

.services__item__text {
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .services {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .services {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }

    .services__block {
        display: flex;
        flex-direction: column;

    }

    .services__column {
        justify-content: center;
        margin-left: 50px;
    }

}

/* = GALLERY ================================================ */
.gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". gallery__content .";
}

.gallery__content {
    grid-area: gallery__content;
    background-color: #e9d5b1a9;
}

@media screen and (max-width: 1024px) {
    .gallery {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = PROJECTS ================================================ */
.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". projects__content .";
    /* background-color: #fae8c757; */
}

.projects__content {
    grid-area: projects__content;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    position: relative;
}

.projects__content_mobile {
    display: none;
}

.projects__content .projects__content_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 300px;
}

.projects__content .projects__content_left .projects__list {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.projects__content .projects__content_left .projects__list .project__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.projects__content .projects__content_left .projects__list .project__item .project__link {
    display: block;
    text-decoration: none;
    color: #282322;
    transition: all .3s ease;
    /*прочти, что за свойство*/
}

.projects__content .projects__content_left .projects__list .project__item:hover .project__link {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.projects__content .projects__content_left .projects__list .project__item+.project__image,
.projects__content .projects__content_left .projects__list .project__image:first-child {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    right: 10px;
    width: calc(50% - 20px);
    /* top: 50%; */
    top: 25%;
    /* transform: translateY(-50%); */
    transform: translateY(-55%);
    /* height: 90%; */
    height: 40%;
    opacity: 0;
    transition: all .3s ease;
}

.projects__content .projects__content_left .projects__list .project__item+.project__image {
    z-index: 2;
}

.projects__content .projects__content_left .projects__list .project__image:first-child {
    z-index: 1;
    opacity: 1;
}

.projects__content .projects__content_left .projects__list:hover .project__image:first-child {
    opacity: 0;
}

.projects__content .projects__content_left .projects__list .project__item:hover+.project__image {
    opacity: 1;
}

.projects__content .projects__content_right {
    display: block;
    width: 50%;
}

.projects__content .projects__result {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.projects__content .subtitle {
    text-align: center;
}

.projects__content .projects__result .result__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects__content .result__content .result__link {
    margin-top: 15px;
    max-height: 150px;
}

.projects__content .result__content .result__link .result__img {
    width: 100%;
    height: 100%;
    display: block;
    transition: 1s;
    /* filter: alpha (Opacity=50); */
    opacity: 0.7;
}

.projects__content .result__content .result__link .result__img:hover {
    transform: scale(1.2, 1.4);
    /* filter: alpha (Opacity=100); */
    opacity: 1;
}

.projects__content .info {
    /* background: #f0ddbba9; */
    margin-top: 50px;
    /* max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row; */
}

.projects__content .info .info__wrapper {
    background-color: #baa8a61f;
    border: 1px solid #857776;
    margin: 0 auto;
    max-width: 850px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.projects__content .info .info__item {
    max-width: 230px;
    height: 13git0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__content .info .info__item span {
    display: block;
    margin-bottom: 10px;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: left;
    color: #857776;
}


@media screen and (max-width: 1024px) {
    .projects {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }

    /* .projects .projects__content .projects__content_left {
        display: none;
    }

    .projects__content_mobile {
        grid-area: projects__content;
        display: flex;
        flex-direction: column;
    }

    .projects__content_mobile .projects__list_mobile {
        min-height: 250px;
        max-width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .projects__content_mobile .projects__list_mobile .link_mobile {
        display: block;
        min-height: 150px;
        width: 150px;
    } */


}

@media screen and (max-width: 768px) {
    .projects {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }

    .projects .projects__content .projects__content_left {
        display: none;
    }


    .projects__content_mobile {
        grid-area: projects__content;
        display: flex;
        /* flex-direction: row; */
        flex-direction: column;
        min-width: 900px;
    }

    .projects__content_mobile .projects__list_mobile {
        min-height: 150px;
        max-width: 400px;
        /*или тут оставить макс-ширину 350рх ?*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .projects__content_mobile .projects__list_mobile .link_mobile {
        display: block;
        min-height: 150px;
        /* width: 150px; */
    }

    .projects__content_mobile .projects__list_mobile .link_mobile .project__logo {
        max-height: 150px;
    }


    .projects .projects__content .projects__result {
        margin-top: 30px;
        max-width: 400px;
        /*или тут оставить макс-ширину 350рх ?*/
        display: flex;
        flex-direction: column;
    }

    .projects .projects__content .subtitle {
        text-align: center;
    }

    .projects .projects__content .projects__result .result__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .projects .projects__content .result__content .result__link {
        width: 150px;
    }

    .projects .projects__content .result__content .result__link:focus .result__img,
    .projects .projects__content .result__content .result__link:active .result__img {
        transform: scale(1.3, 1.3);
        /* filter: alpha (Opacity=100); */
        opacity: 1;
    }
}

/* = CERTIFICATES ================================================ */


.certificates {
    grid-area: certificates;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas: ". certificates__content .";
}

.certificates__content {
    grid-area: certificates__content;
    display: grid;
    grid-template-columns: minmax(auto, 500px) minmax(auto, 500px) minmax(auto, 500px) minmax(auto, 500px) minmax(auto, 500px) minmax(auto, 500px);
    grid-template-areas:
        "certificates__title certificates__title certificates__title certificates__title certificates__title certificates__title"
        "certificates__diplom certificates__diplom__third certificates__diplom__first  certificates__diplom__fourth  certificates__diplom__fifth certificates__diplom__second ";
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.certificates__title {
    grid-area: certificates__title;
}

.certificates__diplom {
    grid-area: certificates__diplom;

}

.certificates__diplom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.certificates__diplom__first {
    grid-area: certificates__diplom__first;
}

.certificates__diplom__first img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.certificates__diplom__second {
    grid-area: certificates__diplom__second;


}

.certificates__diplom__second img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.certificates__diplom__third {
    grid-area: certificates__diplom__third;
}

.certificates__diplom__third img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.certificates__diplom__fourth {
    grid-area: certificates__diplom__fourth;
}

.certificates__diplom__fourth img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}



.certificates__diplom__fifth {
    grid-area: certificates__diplom__fifth;
}

.certificates__diplom__fifth img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    overflow: visible;
}

.certificates__diplom__fifth:hover img {
    transform: scale(1.5);
}


@media screen and (max-width: 768px) {
    .certificates {
        grid-area: certificates;
        display: grid;
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
        grid-template-areas:
            ". certificates__content .";
    }


    .certificates__content {
        grid-area: certificates__content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-template-areas:
            "certificates__title"
            "certificates__diplom__third"
            "certificates__diplom__first"
            "certificates__diplom__fourth"
            "certificates__diplom"
            "certificates__diplom__second"
            "certificates__diplom__fifth";
        row-gap: 20px;
    }
}

/* = FEEDBACK ================================================ */

.feedback {
    grid-area: feedback;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". feedback__content .";
}

.feedback__content {
    grid-area: feedback__content;
    display: grid;
    grid-template-columns: minmax(auto, 500px) 20px minmax(auto, 500px);
    grid-template-areas:
        "feedback__title feedback__title feedback__title"
        "feedback__firstscreen . feedback__secondscreen";
    /*     background-color: #EAD1D0; */
    padding: 20px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.feedback__title {
    grid-area: feedback__title;
}

.feedback__firstscreen {
    grid-area: feedback__firstscreen;
}

.feedback__firstscreen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.feedback__secondscreen {
    grid-area: feedback__secondscreen;
}

.feedback__secondscreen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .feedback {
        grid-area: feedback;
        display: grid;
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
        grid-template-areas:
            ". feedback__content .";
    }

    .feedback__content {
        grid-area: feedback__content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-template-areas:
            "feedback__title"
            "feedback__firstscreen"
            "feedback__secondscreen";
        row-gap: 20px;
    }

}

/* = FAQ ================================================ */
.faq {
    grid-area: faq;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". faq__content .";
}

.faq__content {
    grid-area: faq__content;
    background-color: #e9d5b1a9;
}

@media screen and (max-width: 1024px) {
    .faq {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .faq {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = CONTACTS ================================================ */
.contacts {
    grid-area: contacts;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1100px) minmax(1rem, 1fr);
    grid-template-areas:
        ". contacts__content .";
}

.contacts__content {
    grid-area: contacts__content;
    display: grid;
    grid-template-columns: minmax(auto, 60%) minmax(auto, 30%) minmax(auto, 10%);
    grid-template-areas:
        "connection__container image__container social__container";
    background-color: #baada63f;
    border: 1px solid #857776;
}

.connection__container {
    grid-area: connection__container;
    box-sizing: border-box;
    padding: 2% 7%;
}



.contacts__text {
    width: 80%;
    padding-top: 3%;
}

.contact-form__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-input {
    box-sizing: border-box;
    padding: 13px 50px 13px 13px;
    width: 80%;
    border: 1px solid #b19b7bc9;
}

.contacts__button {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.image__container {
    grid-area: image__container;
    align-content: center;
    align-self: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

.contact_image {
    max-width: 100%;
    max-height: 70%;
    align-self: center;
}

.social__container {
    grid-area: social__container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon_phone:hover {
    stroke: #857776;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.icon_mail {
    stroke: #af9c9b;
}

.icon_phone {
    stroke: #af9c9b;
}

.icon_insta {
    stroke: #af9c9b;
}

.icon_whatsapp {
    stroke: #af9c9b;
}

.icon_mail:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    stroke: #f0d9d9;
}

.icon_phone:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    stroke: #f0d9d9;
}

.icon_whatsapp:hover {
    stroke: #f0d9d9;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.icon_insta:hover {
    stroke: #f0d9d9;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

@media screen and (max-width: 1024px) {
    .contacts {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}

/* = FOOTER ================================================ */
.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". footer__content .";
    background-color: #baa8a6;
}

.footer__content {
    grid-area: footer__content;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer__title {
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__anchor {
    align-self: center;
    width: 150px;
    text-align: center;
}

.footer_link {
    color: white;
    text-decoration: none;
}


.footer__copyright {
    align-self: center;
    width: 150px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 994px) minmax(1rem, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 748px) minmax(1rem, 1fr);
    }
}